@{
    ViewBag.Title = "Reset Password";
}

<h2>@ViewBag.Title</h2>

<form asp-action="UpdatePassword" asp-controller="Account" method="post">
    <div>@ViewData["password"]</div>
    <label for="password">New Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value="Submit">
</form>
